@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    height: 80vh;
    background-color: #F6F3EA;
    color: #3B2F57;
    overflow: hidden scroll;
}

nav.menu-lateral {
    width: 80px;
    height: 100vh;
    background-color: #bd90d6af;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #DCB9FF;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .7s;
    z-index: 2;
}

nav.menu-lateral.expandir {
    width: 300px;
    backdrop-filter: blur(8px);
}

.botao_expandir {
    width: 100%;
    padding-left: 10px;
    margin-bottom: 30px;
}

.botao_expandir > i {
    color: #ffff;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.ativo {
    background-color: #DCB9FF;
}

ul li.item-menu:hover{
    background-color: #DCB9FF;
}

ul li.item-menu{
    transition: .2s;
}

ul li.item-menu a{
    color: #ffff;
    text-decoration: none;
    font-size: 17px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 25px;
}

.txt-link{
    margin-left: 40px;
}

.txt-link-sair{
    margin-left: 40px;
    color: rgb(151, 16, 16);
    text-decoration: underline;
}

.icon > i{
    font-size: 25px;
}

.icon-sair > i {
    font-size: 25px;
    color: rgb(151, 16, 16);
    margin-left: 8px;
}

.icon {
    margin-left: 8px;
}

.inicio-txt {
    color:#5A008D;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-left: 180px;
    width: 840px;
    margin-bottom: 30px;
}

#container-graficos {
    display: flex;
    gap: 1vw;
}

h3 {
    color: #5A008D;
    margin-bottom: 5px;
}

.grafico-1 {
    border: 1px solid #5A008D;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 35px;
    margin-left: 180px;
    height: 358px;
    width: 460px;
}

#grafico1 {
    justify-content: center;
    width: 400px;
    height: 400px;
}

.grafico-2 {
    border: 1px solid #5A008D;
    border-radius: 20px;
    padding: 20px;
    width: 20rem;
    height: 55vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo-grafico {
    text-align: center;
    color: #5A008D;
    margin-bottom: 15px;
    margin-top: 10px;
}

#grafico2 {
    height: 200px;
    width: 100px;
}

.grafico-3 {
    border: 1px solid #5A008D;
    border-radius: 20px;
    padding: 20px;
    width: 20rem;
    height: 55vh;
    text-align: center;
    align-items: center;
}
