@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

html {
    scroll-padding-top: 12.5vh;
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    background-color: #E5CEF1;
    color: #3B2F57;
    overflow-x: hidden;
    background: rgb(255,247,173);
    background: linear-gradient(0deg, rgba(255,247,173,1) 10%, rgba(228,203,241,1) 70%);
}

.header {
    border-bottom: 1px solid #ffffff;
    justify-content: space-between;
    backdrop-filter: blur(20px);
}

.header a {
    text-decoration: none;
    color: #3B2F57;
}

.navbar {
    width: 300px;
    display: flex;
    align-items: center;
    list-style: none;
    color: #3B2F57;
    width: 75%;
    align-items: center;
    justify-content: space-evenly;
}

#inicio{
    height: 100vh;
    position: relative;
    background-image: url(../assets/imgHome/backgroundInicial.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-size:cover;
    margin-bottom: 10vw;
}

.header{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:  rgba(255, 255, 255, 0.2);
    position: fixed;
    transition: 0.5s ease-in-out;
    z-index: 1;
}

.header.ativa {
    background-color: #C3ACD0;
    box-shadow: 2px 3px #C3ACD0;
}

.header .container{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.header .container img{
    width: 150px;
}


.navbar.ativa {
    color:#000000;
}

.navbar a{
    text-decoration: none;
    color: #3B2F57;
    margin: 0;
}

.navbar a:hover{
    color: #ffffff;
}

.agora a{
    font-weight: 900;
    color: #3B2F57;
}

.login{
    background-color: #3B2F57;
    color: #ffffff;
    padding: 5px;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border: none;
    font-family: 'Montserrat';
    cursor: pointer;
}

.login:hover {
    box-shadow: 0 12px 16px 0 #624f8f77, 0 17px 50px 0 rgba(202, 100, 194, 0.19);
    color: #fff;
    background-color: #C3ACD0;
}

.divTxtInicio{
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'Montserrat';
}



.txtInicio{
    text-align: left;
    font-size: 20px;
    margin-top: -100px;
}

.txtInicio p{
    color: #3B2F57;
}

h1{
    color: #3B2F57;
    font-size: 30px;
    font-family: "Montserrat";
    font-style: oblique;
}

.container_principal {
    margin: auto;
    margin-top: 8%;
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #3B2F57;

}

.h1_sessao2 {
    color: #3B2F57;
    font-size: 28px;
    font-family: "Montserrat";
    justify-content: start;
    text-align: center;
}

.div_container {
    justify-content: start;
    align-items: center;
    font-size: 15px;
}

#albuns{
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-size:cover;
    z-index: -1;
    margin-top: 100px;
}

.img_artistas {
    align-items: center;
    text-align: center;
}

.imgs_cantores {
    margin-top: 40px;
    border-radius: 10px;
    margin-right: 15px;
    cursor: pointer;
}

.imgs_cantores:hover{
    box-shadow: 0 8px 50px #1b1b1ba4;
    transition: 300ms;
    transform: translateY(-10px);
}

.h1_sessao3 {
    margin: auto;
    margin-top: 9%;
    margin-left: 38%;
    font-size: 29px;
    font-family: "Montserrat";
}

.titulo_principal {
    font-size: 40px;
}

#desenvolvedora{
    height: 75vh;
    position: relative;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-size:cover;  
}

.container_desenvolvedora{
    background-color: transparent;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

.img_desenvolvedora {
    width: 240px;
    border-radius: 50%;
    margin-bottom: 5%;
    margin-left: 20%;
}

.h1_sessao4 {
    color: #3B2F57;
    font-size: 30px;
    font-family: "Montserrat";
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
.container_texto {
    color: #3B2F57;
    text-align: center;
    width: 600px;
    text-align: justify;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-left: -100px;
    margin-bottom: 50px;
}

h4 {
    font-family: 'Rozha One';
    color: #3B2F57;
}

.cards {
    background-color: #CCBAD6;
    color: #ffffff;
    border: 1px solid #CCBAD6;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 30%;
    padding: 20px;
    margin-right: 20px;
}
.cards:hover{
    box-shadow: 0 8px 50px #23232333;

}


.div_cards1 {
    width: 75vw;
    height: 350px;
    border-radius: 30px; 
    padding: 35px;
    display: flex;
    justify-content: center;
}

h3 {
    color: #3B2F57;
}

.modal{
    background-color: #e5cef1a1;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}

.fundo_modal{
    margin-top: 10px;
    background-color: #ffffff;
    width: 1000px;
    height: 500px;
    border-radius: 40px;
    z-index: 10000;
}

.fechar{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: -40px;
}

.botao_fechar{
    background-color:#3B2F57;
	border-radius:42px;
    border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
    font-weight: 600;
	font-size:23px;
	padding: 5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    margin-top: 12px;
}

.conteudo_modal{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:50px;
    gap: 70px;
}

.texto{
    text-align: center;
    color: #3B2F57;
    font-weight: 900;
    margin-top: -10px;
}

p{
    text-align: justify;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 96%;
    height: 120px;
    gap: 6vw;
}

hr {
    width: 70rem;
    border: 1px solid #3B2F57;
}

.redes {
    display: flex;
    gap: 1vw;
    cursor: pointer;
}

.social {
    transition: all 0.5s;
    cursor: pointer;
}

.social:hover {
    -webkit-transform: scale(1);
    transform: scale(1.2);
}

#propaganda {
    margin-top: 120px;
    align-items: center;
    justify-content: center;
    text-align: justify;
    display: flex;
    width: 70%;
    margin-left: 200px;
    margin-bottom: 110px;
}

.div-propaganda {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.cadastre_se {
    background-color: #b68acf;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: white;
    font-family: 'Montserrat';
    cursor: pointer;
    margin-top: 10px;
}

.cadastre_se:hover {
    background-color: #3B2F57;
}

.div-container {
    color: white;
    padding: 25px;
    border-radius: 20px;
    background-color: #c3acd09a;
}

.imagem-cadastro {
    display: flex;

}
